**Looping Statements**
Looping statements is nothing but the predefined statement in python which is used to execute the perticular instruction number of times. There are various types of looping instructions or statement are as follows:- 

1) for loop 
for loop is nothing but the looping statment which is used to execute perticular instrction number of times. In python for loop is genrally used for sequential traversal, iteration and collection based iteration. 

How we use for loop in python? 
Ans:- With the help of follwoing syntax:- 

Synatx:- 
        for variable_name in iterable: 
            #statements
Where, 
for  ----> for is nothing but the predefined keyword in python which is instruct the interpreter start the iterations.  

Variable_name ---> it is kind of place holder or setof charcaaters which is used to store the value. 

in -----> in is nothing but the predefined keyword in python which is used from where value is to be search. 

iterable ---> iterable is any kind of collections or objects from where we have to search elements or values or items. 

#statements --> It is the userdefined instructions  

For Example :- 

    for x in (23,43,5):
       print(x)   

**Range Function with for loop**
range() --> range() is nothing but the predefined function in python which is used to genrate the series of perticular collections or objects or iterable or numbers from min to max. This function having three parameters :- 

1) start :- start is nothing but the parameter of range function which is used to provide starting integer value of the perticulcar sequence.   

2) stop :- Stop is nothing but the parameter of range functionto provide last integer value of the perticulcar sequence.    

3) step :- Step is nothing but the parameter of range function which is sued to provide integer value which determines the increment or decrement between the elements.

In [ ]:
# exmaple of range function using for loop 
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(2,9):  
  print(i,end=" ")

2 3 4 5 6 7 8

In [ ]:
for i in range(15,25,3):
  print(i,end=" ")

15 18 21 24

In [ ]:
for i in range(50,10,-5):
    print(i,end=" ")

50 45 40 35 30 25 20 15

In [ ]:
# Python Program iterate over the list 
L = ["Bhushan","Sonu","Divya"]
for x in L:
  print(x,end=" ")

Bhushan Sonu Divya

In [ ]:
# Iteration over the String
name ="Bhushan"
for i in name:
  print(i,end="  ")

B  h  u  s  h  a  n

In [ ]:
# Iteration over the Dictionary
D= dict()
D['xyz'] = 123
D['abc'] = 567
print(D)
for i in D:
   print("%s %d"%(i,D[i]))

{'xyz': 123, 'abc': 567}
xyz 123
abc 567

2) While Loop 
While loop is nothing but the predefined instruction or statement which is used to execute perticular instruction number of times. 

In python, while loop is used to iterate over the block of code as lon as test expression is true. 

How we use while loop in python? 
Ans:- Witht he help of follwing syntax:- 

Syntax:-  while(condition):
             #statements     

For Example:- 
          while(i<4):
             i=i+1
             print(i)

In [ ]:
# Sample example using while loop
i = 1
while(i<=3):
  print("Welcome")
  i = i+1

Welcome
Welcome
Welcome

In [ ]:
# Check whether element is present in the list or not
x = [1,2,3,4,5]
print(x.pop(3))

print(x)

4
[1, 2, 3, 5]

In [ ]:
# WAP to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
Num = int(input("Enter the value of Num:"))
D = dict()
for i in range(1,Num+1):
  D[i]=i*i

print(D)

Enter the value of Num:6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
#

**Loop Control Statement **
Loop Control statement is nothing but the predefined statements or instruction which is used to control the flow of looping instruction. 

Loop Control statement is nothing but the predefined statements or instruction which is used to change the sequence of execution of looping instruction.  

There are three Loop control Statements are as follows:- 

1) Break 
2) Continue 
3) Pass 

1) BReak :- Break is nothing but the predefined keyword or it is loop control statement which is used to exit from the current loop. 


2) Continue :- Continue  is nothing but the predefined keyword or it is loop control statement which is used to skip the current step or iteration and move towards the next step or iteration. 

3) Pass :- Pass is nothing but the predefined keyword or it is loop control statement which is used to write the empty loops. It is also used with Functions , Control statements or Classes etc

In [ ]:
# Sample Code instruction for Loop control statements 
s ="DCPEHVPM VBMV" 

for letter in s:
  if letter == 'D' or letter == 'V': 
    break
  print(letter,end=" ")
print()

In [ ]:
for letter in s:
  if letter == 'D' or letter == 'V':
    continue
  print(letter,end=" ")
print()

C P E H P M   B M

In [ ]:
for letter in s:
  if letter == 'D' or letter == 'V': 
    pass
  print(letter,end=" ")
print()

D C P E H V P M   V B M V

In [ ]:
# pass uses
s = "Nidhi"
for i in s:
  if i == 'd':
    print("Pass Execute Jhala lekrino.........")
    pass
  print(i)

N
i
Pass Execute Jhala lekrino.........
d
h
i

In [ ]:
#WAP to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)
L = []
for i in range(1500,2700):
  if (i % 7 ==0) and (i % 5 == 0):
     L.append(str(i)) 
print(','.join(L))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [ ]:
# WAP to print the follwoing output
n = 5
for i in range(n):                    #  Row Sathi
   for j in range(i):                        #  Col Sathi    
      print('*',end="")
   print("")   

for i in range(n,0,-1):
  for j in range(i): 
    print("*",end="")
  print("")

*
**
***
****
*****
****
***
**
*

In [ ]:
n = 5
for i in range(n):                    #  Row Sathi
   for j in range(i):                        #  Col Sathi    
      print(i,end="")
   print("")

1
22
333
4444

In [ ]:
n = 5
i = 1
for i in range(n+1):                    #  Row Sathi
   for j in range(i):                        #  Col Sathi    
      print(j,end="")
   print("")

0
01
012
0123
01234

In [ ]:
for i in '':
  print(i)

Write a Python program that accepts a word from the user and reverse it.

In [ ]:
word = input("Input any name that you want to reverse:")
for ch in range(len(word)-1,-1,-1): 
  print(word[ch],end='')

Input any name that you want to reverse:nidhi
ihdin

In [ ]:
word = input("Input any name that you want to reverse:")
for ch in range(-1,-(len(word)+1),-1):
  print(word[ch],end='')

Input any name that you want to reverse:Welcome in Python
nohtyP ni emocleW

Write a Python program to count the number of even and odd numbers from a series of numbers.

100 to 400 konte konte even number ahet tyachi ek list banvaychi ahe ani tyala print karaychi ahe