**Python Data Types**
Data types is nothing but predfeined set of characaters which is used to specify type of data and amount of memory required to store the data. There are various types of data types or standard built in data types used in python are as follows:- 
 1) Numeric 
 2) Sequence Type
 3) Boolean 
 4) Set 
 5) Dictonary 

1) Numeric :- Numeric is nothing  but the Data type in python which is used to represent the data which has numeric value. Numeric value represents int, float or complex also. These values are defined as int, float and complex class in python.   

Integers :-  Integers is nothng but the class in python or data type which is used to represnt int type value. It contains positive or negative values without using decimal point. In Python , there is no limit how long integer can be. 

Float :- Float is nothing but the class in python or data type which is used to represnt real type value.  It contains positive or negative values with using decimal point. Optionally, the charcater e or E followed by a integer may be appended to specify scientific notation. 

Complex:- Complex is nothing but the class in python or data type which is used to represnt complex value. It is specially use to specify as (realval)+(img value)j
Example:-  2 + 3j

In [ ]:
#python program to identify numeric value
a=5
print(type(a))
x=5.25
print(type(x))
z=2+3j
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

2) **Sequence Type**
Sequence type is nothing but the data type in python which is used to specify collection of similar or different data types in to single unit having specific ordered. 

Sequence type is nothing but the data type in python which is used to specify ordered collection of similar or different data types in to single unit. There are various types of Seqence types are as follows:- 

**Note:- ** Sequence allows us to store the multiple values in an organised and effiicent fasion. 

1) String 
2) List
3) Tuple

1) String :- String is nothing but the Squence Type in python which is sused to represents sequence of bytes or set of charcaters. Strings are arrays of bytes representing unicode charcaters.A string is a collection of one or more characters 
put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.

In [ ]:
# Program to learn String Squence Type
name = 'Jagte Rahoooo' 
print(name)

Jagte Rahoooo

In [ ]:
print(name[6])

R

In [ ]:
print(name[-5])

h

In [ ]:
Fname ="Nidhi"
Lname ="Agarwal"
print(Lname,Fname)

Agarwal Nidhi

2) List 
List is nothing but the ordered collection of different data elements. Lists is just like arrays, declared in other languages. IT is very flexible as the items in a list do not need to be the same type. 

How we create the list? 
Ans:- With the help of following syntax:- 
List in the python can be created sequence inside the square brackets [] .
 Syntax:-   List_name =[List of values seperated by comma's]

 Example:- fruits_name=['apple','orange','watermelon']

In [ ]:
# Example 1
x = []
print("Initially List is Empty")
print(type(x))

Initially List is Empty
<class 'list'>

In [ ]:
x = ['Orange','WaterMelon','Grapes']
print(x)
print(x[1])

['Orange', 'WaterMelon', 'Grapes']
WaterMelon

In [ ]:
x = ['ORange','Pineapple',[250,450],'Grapes',[33,44,55,66]]
print(x)
print(x[3])
print(x[2])
print(x[2][0])
print(x[4][2])

['ORange', 'Pineapple', [250, 450], 'Grapes', [33, 44, 55, 66]]
Grapes
[250, 450]
250
55

Program based on List

In [ ]:
# WAP in python to print sum of item in the list 
sum = 0
x = [23,5,6,7,20]
for i in x:
  sum += i        # sum = sum + i 
print("Sum of List elements is ",sum)

Sum of List elements is  61

In [ ]:
#Write a Python program to multiplies all the items in a list.
mul = 1
z = [22,41,55,21,12]
for i in z:
  mul *= i  
print("Multiplication of list elements are ",mul)

Multiplication of list elements are  12501720

3) Tuple 
Tuple is nothing but the ordered collection of different data elements or objects but it is immuatable (can't Modify). In python , tuples are created by placing sequence of values seperated by comma with or without use of parentheses for grouping of data sequence. Tuples can contain any number of data types and any number of elements(Strings,integers,list etc) 

Note:- Tuples can also be created with a single element, but it bit a tricky. Having one lement in the parenthesis is ot sufficient , there must be trailing comma to make it tuple. 

How we create tuple? 
Ans:- With the help of following sytax:- 

Syntax:-  var_name=(List of elements)

For exmaple:- 

 T1 = ('Nidhi','Gaytri')

In [ ]:
t=()
print(type(t))

<class 'tuple'>

In [ ]:
t=('Nidhi','Gaytri',[4,5,6])
print(t)

('Nidhi', 'Gaytri', [4, 5, 6])

In [ ]:
l = [34,55,7]
tuple1 = (l)
print(tuple1)

[34, 55, 7]

In [ ]:
T1 = (0,1,2,4)
T2 = ('Pooja','Arti')
T3 = (T1,T2)   # nested Tuple
print(T3)

((0, 1, 2, 4), ('Pooja', 'Arti'))

In [ ]:
#How to Access the Tuple Elements 
T = tuple([9,7,6,5,4],[66,88,33])
print(T)
#print(T[-1])

TypeError: ignored

In [ ]:
l1= [9,8,7,6]
l2= [88,66,77]
nidhi = tuple(l1,l2)
print(nidhi)

TypeError: ignored

4) Boolean 
Boolean is nothing but the predefined data type in python which is used to provide true or false condition. It means that it has two build in values that is True or False. Boolean in python is denoted by bool class.

In [ ]:
print(type(True))

<class 'bool'>

5) Set 

Set is nothing but the unordered collection of data type in single unit. Set is iterable, mutable and no duplicate elements in the collection. In set order of elements is undefined. It may consists of various elements. 

How we create set? 
Ans;- With the help of follwoing syntax:- 

Synatx:-  set({list of elemnts})

Example:- 
          set({34,45,56,5,6})

In [ ]:
s  = set()
print(type(s))

<class 'set'>

In [ ]:
s= set(["Bhushan","Mona","Shubham"])
print(s)
print(type(s))

{'Bhushan', 'Mona', 'Shubham'}
<class 'set'>

In [ ]:
x = set([1,2,3,'Bhushan',5,6,'Jain',8])
print(x)

{1, 2, 3, 'Bhushan', 5, 6, 8, 'Jain'}

In [ ]:
x = set(['H','V','P','M'])
print(x)

{'H', 'v', 'M', 'P'}

In [ ]:
print("Elemts in Set x are as follows:- ")
for i in x:
  print(i,end='  ')

print('v' in x)

Elemts in Set x are as follows:-
H  v  M  P  True

# BAsic REvision of Data Types

In [ ]:
# Printing output to the console / How to print the data on the screen 
print("Do Hard Tricky Work to Know the Python Concept for Data Science")   # Only one object is passed as parameter
x = 5
print("x =",x)   # Two obejcts are passed as parameter 
print("H","V","P","M",sep='')    # here we disable the space feature 
print("Data Science",end='@')    # Print statment using end parameter 
print("Python")

Do Hard Tricky Work to Know the Python Concept for Data Science
x = 5
HVPM
Data Science@Python

In [ ]:
# print the string using single quotes
print('Do study tricky to get the Dream Job')
# print the string using double quotes
print("Do study tricky to get the Dream Job")
# print the string using triple quotes
print("""Do study tricky to get the Dream Job""")

Do study tricky to get the Dream Job
Do study tricky to get the Dream Job
Do study tricky to get the Dream Job

In [ ]:
# Accessing te characters in the string
name = "Nidhi"
print(name[-1]) # print last character using -1 location 
print(name[1]) # print Second character using 1 location 
print(name[0]) # print first character using 1 location

i
i
N

In [ ]:
  # Accessing the charcaters in the string for updating and deleteing
  statement = "My name is Sachin. I am love to read news paper."

In [ ]:
# List Creation 
L = []   # empty list 
D = ['Bhushan','SAchin','Nidhi','Gaytri']   # List 
G = ['Bhushan','SAchin',['Nidhi','Gaytri']]  # Nested List 
U = [1,2,5,6,7,8]
print(L)
print(D)
print(G)
print(U)

[]
['Bhushan', 'SAchin', 'Nidhi', 'Gaytri']
['Bhushan', 'SAchin', ['Nidhi', 'Gaytri']]
[1, 2, 5, 6, 7, 8]

In [ ]:
# Adding the elements in the List 
L.append(10)
print(L)
L.append(5)
print(L)

[10, 10]
[10, 10, 5]

In [ ]:
L.insert(1,88)
print(L)

[10, 88, 10, 5]

In [ ]:
L.remove(10)
print(L)

[88, 10, 5]

In [ ]:
L.pop(1)
print(L)

[88, 5]

In [ ]:
T=(33,54,66,76)
print(type(T))

<class 'tuple'>

In [ ]:
T = (33,66,76,33,33,33)
print(T)

(33, 66, 76, 33, 33, 33)

In [ ]:
T.count(33)

4

In [ ]:
s = set([23,45,56,'bhushan'])
print(s)

{56, 'bhushan', 45, 23}

In [ ]:
s.add()

6) Dictionary 
Dictonary is nothing but the unordered collection of data values in the single unit. Dictionary holds the multiple value to optimized the data which is called as key value pair. Where as other data types has single value optimization.Each key value is specify with the help of colon :. It has following syntax  key : value . If you want to take multiples values in the dictionary then it must be seperated by comma's. 

In python, Dictionary can created by placing a sequence of elements within culry braces , sperated by comma's. Values in a dictionary can be of any data type and can be duplicated, where as keys can't be repeated and mus be immuatble. Dictionary can also of created by using built-in function dict(). An empty dictionary can be created by just palcing it to curly braces{}.

**Note:-** 
Dictionary keys are case sensitive, same name but differnet in cases of key will be treated as distinct.

In [ ]:
# Empty Dictionary 
D = {}
print(type(D))

<class 'dict'>

In [ ]:
# creating a integer keys in  dictionary
D = {1:'bhushan',2:'nidhi',3:'pooja'}
print(D)

{1: 'bhushan', 2: 'nidhi', 3: 'pooja'}

In [ ]:
# creating Mixed keys in Dictionary 
F = {'Name':'Bhushan',111:420,6:[1,2,3]}
print(F)

{'Name': 'Bhushan', 111: 420, 6: [1, 2, 3]}

In [ ]:
# Crating Dictionary using dict()
W = dict({1:'bhushan',2:'nidhi',3:'pooja'})
print(W)

{1: 'bhushan', 2: 'nidhi', 3: 'pooja'}

In [ ]:
# Dictionary with each item/element as a pair
D = dict([(1,'bhushan'),(2,'nidhi')])
print(D)

{1: 'bhushan', 2: 'nidhi'}

In [ ]:
# Accessing the Dictionary values by its key
print(W[2])

nidhi

In [ ]:
print(F['Name'])

Bhushan

In [ ]:
# Accessing by using get()
print(W.get(2))
print(F.get('Name'))

nidhi
Bhushan

02 May 2021 10:45Am

In [ ]:
# WAP to add a key to a dictionary 
d = {0:10,1:30}
print(d)
d.update({2:50})
print(d)

{0: 10, 1: 30}
{0: 10, 1: 30, 2: 50}

In [ ]:
#WAP to concatenate dictionaries to create a new one
d1 = {1:10,2:20}
d2 = {3:30,4:40}
d3 = {5:50,6:60}
d4 = {}
for i in (d1,d2,d3): 
  d4.update(i)

print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# WAP to sort a dictionary by value
# import ---> import is nothing but the predefined keyword in the pyhton which is used to extract the or fetch the class or api or other packages from the library. 
# o---->Operator is nothing but the standard library for mathematical operations
#import operaperator tor --> this is the instruction given by user to the python or jupeter notebook it tell to juypeter note book that extract the standard librabry for mathematical operations
# itemgetter ---> itemgetter is nothing but the predefined function which is present in the operator class or library which is used to fetch the nth element from the iterable obejct(list,dictionary,set,tuple etc).
import operator  
a = {1:2,3:4,4:3,2:1,0:0}
print('Orginal Dictionary:- ',d)
print("Dictionary is in Acesnding order:- ")
asc_a = sorted(a.items(),key=operator.itemgetter(1))
print(asc_a)

print("Dictionary is in Descending order:- ")
dsc_a = sorted(a.items(),key=operator.itemgetter(1),reverse=True)
print(dsc_a)

Orginal Dictionary:-  {0: 10, 1: 30, 2: 50}
Dictionary is in Acesnding order:-
[(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary is in Descending order:-
[(3, 4), (4, 3), (1, 2), (2, 1), (0, 0)]